.sect-2{
    background-color: hsl(202, 55%, 16%);
    height: 75vh;
    border-bottom-left-radius: 25%;
    width: 30vw;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    display: grid;
    place-items: center;
}

.title-result{
    color: white;
    margin-bottom: 10px;
    margin-top: 0;
}

/*.ilustration{
    display: block;
    margin: auto;
    width: 150px;
}*/

.no-result{
    color: hsl(203, 41%, 72%);
    font-size: 0.7rem;
    text-align: center;
}

.res{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.text-result{
    color: hsl(200, 26%, 54%);
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 30px;
}

.results{
    display: flex;
    flex-direction: column;
    border: 1px solid none;
    margin-right: 30px;
    padding-left: 15px;
    background-color: hsl(202, 55%, 10%);
    border-radius: 0.5rem;
    border-top: 4px solid hsl(61, 70%, 52%);
    height: 230px;
    margin-bottom: 20px;
}

.text-num:first-of-type{
    color: hsl(61, 70%, 52%);
    border-bottom: 1px solid hsl(200, 26%, 54%);
    font-size: 3.5rem;
    padding-bottom: 15px;
}

.text-calc{
    color: hsl(200, 26%, 54%);
}

.text-calc:last-child{
    padding-top: 15px;
    padding-bottom: 25px;
}